<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="./apps/app.js"></script>
	<script type="text/javascript" src="./controllers/outcome_controller.js"></script>
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body ng-app="outcome_creator">

    <div class="container">
        <div class="jumbotron">
            <h1>OUTCOME CREATOR</h1>
            <p>Input the information required to create an outcome and click submit.</p>
        </div>
		<form class="horizontal-form" ng-controller="outcome_controller">
			<div class="form-group">
				<label>Select Province: </label> 
				<select ng-model="province_select" name="province">
					<option style="display:none" value=""></option>
					<option ng-repeat="province in provinces"  value="{{province.name}}">{{ province.name }}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Select Course: </label> 
				<select ng-model="course_select" name="course">
					<option style="display:none" value=""></option>
					<option ng-repeat="course in courses"  value="{{ course.name }}">{{ course.name }}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Outcome Name:</label> 
				<input type="text" class="form-control" ng-model="outcome_name">
				<label>Outcome Text:</label>
				<input type="text" class="form-control" ng-model="outcome_text">
				<br>
				<button type="button" class="btn btn-primary btn-lg" ng-click="add()">SEND</button>
			</div>
		</form>
	</div>  
</body>
</html>