@CHARSET "UTF-8";

body	{
	width: 100vw;
	height: 100%;
	background-image: url("../../bin/images/background_lowres.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

div.splash_background	{
	background-color: #FCFCFC;
	width: 70vh;
	height: 70vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	opacity: 0.75;
}

div.splash	{
	width: 60vh;
	height: 60vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
	background-color: #0066FF;
}