body { font-family: sans-serif; }

.draggable {
  width: 138px;
  height: 138px;
  background: #8fa3d6;
  border: 1px solid #000;
}

.header {
  width: 138px;
  height: 49px;
  background: #828282;
  border: 1px solid #000;
  float: left;
}

.container {
  width: 1680px;
  height: 140px;
  background: #c2c2c2;
}

.title_container {
  width: 1680px;
  height: 51px;
  background: #F30;
  line-height: 50px;
  text-align: center;
}

.draggable.is-pointer-down {
  background: #09F;
}

.draggable.is-dragging { opacity: 0.7; }